@tailwind base;
@tailwind components;
@tailwind utilities;

.app-layout {
    margin: auto;
    cursor: default;
}

.app-layout main {
    max-width: 420px;
}

.--text-input.--savedValue > div {
    border-color: #006fee;
}

.gl-navbar > header {
    max-width: 100%;
}